<%= render 'layouts/nav' %>
<div class="container-fluid menu-padding">

  <%= render 'dashboard/side_menu' %>

  <div class="col-sm-11">
    <h1><img src="<%= current_player.gravatar_image %>" id="profile_image" /><%= current_player.possessive_form(current_player.first_name) %> Dashboard</h1>

      <div class="row">
        <div class="col-md-12">
          <div class="game new">
            <h3>Add a result!</h3>

            <%= form_for @game, html: { role: "form" } do |f| %>
            <% if @game.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2>Oops! You've got <%= pluralize(@game.errors.count, "error") %> there player...</h2>

              <ul>
                <% @game.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
            <% end %>



            <div class="result">
              <div style="text-align:center;">
                <div id="game-select"><%= f.collection_select :game_type_id, @game_types, :id, :name, { prompt: "Select Game" }, { class: "form-control" } %></div>


                <div style="width:300px; margin:auto; text-align:center;">

                  <div class="result-box">


                    <%= f.label :player_score, "Enter Your Score" %>
                    <%= f.text_field :player_score, { class: "form-control" } %>

                    <h4><%= current_player.full_name.split.map(&:capitalize).join(' ') %></h4>
                  </div>

                  <div class="vs" style="float:left;height:100px;">
                    <h3 style="background:none">VS</h3>
                  </div>

                  <div class="result-box">

                    <%= f.label :opponent_score, "Enter Their Score" %>
                    <%= f.text_field :opponent_score, { class: "form-control" } %>

                      
                      <%= f.collection_select :opponent_id, @data.list_opponents, :id, :full_name, { prompt: "Select Opponent" }, { class: "form-control" } %>

                  </div>
                  
                </div>
                <div class="clearfix"></div>
              </div>
                  <%= f.submit "Add Result" %>

                  <% end %>
            </div>
            

          </div>
        </div>
      </div> <!-- row -->

    <h2>Your Game Stats:</h2>

    <div class="row stat" style="text-align:left;">

      <div class="col-md-12">
        <div class="game">
          <h3>Games played</h3>
          <div class="row">

            <div class="col-md-6" style="text-align:center;">
              <%= content_tag "div", id: "games-played", data: @data.count_games_played_for_all_games do %>
              <canvas height="300" width="300"></canvas>
              <% end %>
            </div>

            <div class="col-md-6 stat-align">
              <h4>Legend</h4>
              <hr>
              <ul>
                <% @game_types.each do |game_type| %> 
                <li><span class="colorbox" style="background:<%= game_type.color %>;"></span><h5><%= game_type.name%> - <%= current_player.count_games_for(game_type) %></h5></li>  
                <% end %>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>

    <% @game_types.each do |game_type| %>

    <div class="row stat" style="text-align:left;">

      <div class="col-md-12">
        <div class="game <%= css_case(game_type.name) %>-charts">
          <h3><%= game_type.name %></h3>

          <div class="row">

            <div class="col-md-3" >
            </div>
            
            <div class="col-md-5 stat-align">
              <h2>Win % </h2>
              <hr>
              <%= content_tag "div", id: "win-percentage", data: @data.win_percentages_for_chart(game_type) do %>
              <canvas height="250" width="250"></canvas>
              <ul class="game-legend"> 
                <li><span class="colorbox" style="background:<%= @data.darken_color(game_type.color, 0.8) %>;"></span><h5><%= percentage_format(current_player.win_percentage_for(game_type)) %> Wins</h5>
                <li><span class="colorbox" style="background:<%= game_type.color %>;"></span><h5><%= percentage_format(current_player.draw_percentage_for(game_type)) %> Draws</h5> 
                <li><span class="colorbox" style="background:<%= @data.lighten_color(game_type.color, 0.2)  %>;"></span><h5><%= percentage_format(current_player.loss_percentage_for(game_type)) %> Loses</h5>  
              </ul>
              <% end %>
            </div>

            <div class="col-md-4 stat-align">
              <h2>Position In The League</h2>
              <hr>
              <h4><%= format_league_position(current_player.league_position_for(game_type)) %></h3>
            </div>
            


          </div>

        </div>
      </div>

    </div>

    <% end %>


  </div>

</div>







