<section id="hero" data-speed="100" data-type="background">

  <div class="hero-wrap">
    <%= render 'layouts/nav' %>
    <div class="container menu-padding">
    <%= render 'layouts/flash_message' %>

      <article>

        <h1>Welcome to FunderLeague!</h1>
        <h3>Sign up above or select below to see who is topping the league!</h3>

      </article>

    </div>
  </div>

</section>

<section id="about" data-speed="70" data-type="background">

  <div class="league-wrap">

    <div class="container">
    <h2>Funding Circle's Top Players</h2>
    <% @game_types.each do |game_type| %>
      <div class="col-sm-6">
        <a href="leagues/<%=game_type.name%>"><div class="league-box <%= css_case(game_type.name) %>">
          <h2><%= game_type.name %></h2>
          <hr>
          <table>
            <tr>
              <th><div class="pos"></div></th>
              <th><div>Name</div></th>
              <th><div>P</div></th> 
              <th><div>W</div></th>
              <th><div>D</div></th>
              <th><div>L</div></th>
              <th><div>%</div></th>
            </tr>
            <% game_type.sort_players_by_win_percentage.first(3).each_with_index do |player, index| %>
              <tr>
                <td><div class="pos"><%= index + 1 %></div></td>
                <td><div class="player_name"><img src="<%= player.gravatar_image %>" class="avatar" /><span><%= player.full_name %></span></div></td>
                <td><div><%= player.count_games_for(game_type) %></div></td> 
                <td><div><%= player.count_wins_for(game_type) %></div></td>
                <td><div><%= player.count_draws_for(game_type) %></div></td>
                <td><div><%= player.count_losses_for(game_type) %></div></td>
                <td><div><%= percentage_format(player.win_percentage_for(game_type)) %></div></td>
              </tr>
            <% end %>
          </table>
        </div></a>
      </div>
      <% end %>    
    </div>
  </div>
</section>

    <section id="hero2" data-speed="200" data-type="background">

      <div class="hero2-wrap">

        <div class="container"> 

          <article>



          </article>

        </div>

      </div>

    </section>
