<div class="container-fluid">

	<%= render 'leagues/side_menu' %>

	<div class="col-md-11"> 
		
		<h1>Type of League</h1>
		<div class="league">
			<table>
				<tr>
					<th><div>Player Name</div></th>
					<th><div>Played</div></th> 
					<th><div>Win</div></th>
					<th><div>Draw</div></th>
					<th><div>Lose</div></th>
					<th><div>Win%</div></th>
				</tr>
				<tr>
					<td><div class="player_name"><%= image_tag("avatar.png", :id => "avatar") %><span>Sam Johnson</span></div></td>
					<td><div>50</div></td> 
					<td><div>36</div></td>
					<td><div>2</div></td>
					<td><div>12</div></td>
					<td><div>72%</div></td>
				</tr>
				<tr>
					<td><div class="player_name"><%= image_tag("avatar.png", :id => "avatar") %><span>James Cook</span></div></td>
					<td><div>40</div></td> 
					<td><div>20</div></td>
					<td><div>8</div></td>
					<td><div>12</div></td>
					<td><div>50%</div></td>
				</tr>
				<tr>
					<td><div class="player_name"><%= image_tag("avatar.png", :id => "avatar") %><span>Bob Smith</span></div></td>
					<td><div>100</div></td> 
					<td><div>36</div></td>
					<td><div>4</div></td>
					<td><div>60</div></td>
					<td><div>36%</div></td>
				</tr>
				<tr>
					<td><div class="player_name"><%= image_tag("avatar.png", :id => "avatar") %><span>Bob Smith</span></div></td>
					<td><div>100</div></td> 
					<td><div>36</div></td>
					<td><div>4</div></td>
					<td><div>60</div></td>
					<td><div>36%</div></td>
				</tr>
				<tr>
					<td><div class="player_name"><%= image_tag("avatar.png", :id => "avatar") %><span>Bob Smith</span></div></td>
					<td><div>100</div></td> 
					<td><div>36</div></td>
					<td><div>4</div></td>
					<td><div>60</div></td>
					<td><div>36%</div></td>
				</tr>
				<tr>
					<td><div class="player_name"><%= image_tag("avatar.png", :id => "avatar") %><span>Bob Smith</span></div></td>
					<td><div>100</div></td> 
					<td><div>36</div></td>
					<td><div>4</div></td>
					<td><div>60</div></td>
					<td><div>36%</div></td>
				</tr>
				<tr>
					<td><div class="player_name"><%= image_tag("avatar.png", :id => "avatar") %><span>Bob Smith</span></div></td>
					<td><div>100</div></td> 
					<td><div>36</div></td>
					<td><div>4</div></td>
					<td><div>60</div></td>
					<td><div>36%</div></td>
				</tr>
				
			</table>

		</div>

	</div>

</div>