<%= render 'layouts/nav' %>
<div class="container-fluid menu-padding">

  <%= render 'leagues/side_menu' %>

  <div class="col-md-11"> 
    
    <h1><%= @game_type.name %></h1>
    <div class="league">
      <table>
        <tr>
          <th><div>Player Name</div></th>
          <th><div>Played</div></th> 
          <th><div>Win</div></th>
          <th><div>Draw</div></th>
          <th><div>Lose</div></th>
          <th><div>Win%</div></th>
        </tr>
      <% if @sorted_players.empty? %>
        </table>
        <h2>Nobody has played any <%= @game_type.name.downcase %> games yet!</h2>  
      <% else %>
          <% @sorted_players.each do |player| %>
            <tr>
              <td><div class="player_name"><%= image_tag("avatar.png", :id => "avatar") %><span><%= player.full_name %></span></div></td>
              <td><div><%= player.count_games_for(@game_type) %></div></td> 
              <td><div><%= player.count_wins_for(@game_type) %></div></td>
              <td><div><%= player.count_draws_for(@game_type) %></div></td>
              <td><div><%= player.count_losses_for(@game_type) %></div></td>
              <td><div><%= percentage_format(player.win_percentage_for(@game_type)) %></div></td>
            </tr>
          <% end %>
        <% end %>
      </table>

    </div>

  </div>

</div>